.container {
    display: grid;
}

.info {
    display: none;
}

.hidden {
    display: none;
}

.shown {
    display: block;
    font-size: small;
    margin: 0;

}

.image {
    max-width: 50rem;
    max-height: 25rem;
}